[Unit]
Description=Manage Java service

[Service]
Type=simple
WorkingDirectory=/opt/backend
ExecStart=/bin/java -Xms128m -Xmx256m -jar consul-backend-0.0.1.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target